* {
  margin: 0;
  padding: 0;
  /* font-weight: bold; !important */
}

body {
  /*background-color: rgba(197, 153, 255,1);*/
  /*background-color: rgb(112, 84, 150);*/
  background-color: purple;
  /*background-repeat:repeat-x;*/
  /*background-repeat:repeat-y;*/
  background-repeat: repeat;
  color: rgb(204, 190, 0);
  background-image: url(assets/space_invaders.jpg);
  background-size: contain;
  background-attachment: scroll;
  font-size: 110%;
  line-height: 150%;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
}

hr {
  color: black;
}

.topWindow {
  border: 0 0 0.05em solid rgba(25, 0, 99,0.5) 0;
  text-align: left;
  /*background: rgba(65, 0, 109,0.7);*/
  background: rgba(37, 1, 61, 0.7);
  backdrop-filter: blur(5px);
  font-weight: bold;
  color: yellowgreen;
  margin: 0 0 0 0;
  padding: 0.3em 0% 0.3em 0;
  text-transform: uppercase;
}

#navbar {
  position: static;
  top: 0em;
  width: 100%;
}

.bottomWindow {
  border: 2.5px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: white;
  margin-top: 0;
  padding-top: 0;
  backdrop-filter: blur(5px);
}

.imglink {
  display:inline;
  border:2px solid;
  border-color: transparent;
  padding: 3%;
  margin:0% 0%;
  text-decoration:none;
  background:none;
}

.imglink:hover {
  text-decoration:none;
  cursor:pointer;
  border-color:rgb(204, 190, 0);
  background-color: black ;
}

.btnlink {
  display:inline;
  margin: 0%;
  padding: 5%;
  text-decoration:none;
  background:none;
  color: yellowgreen; 
  border: 4px solid yellowgreen; 
  font-size: 125%;
  line-height:1em;
  border-radius: 5%;
}

.btnlink:hover {
  text-decoration:none;
  color:yellowgreen;
  cursor:pointer;
  /*text-shadow: 3px 3px 2px black;*/
  border-radius: 50px;
  background-color: black;
}

.btn-link:hover {
  text-decoration: none;
  border-color:rgb(204, 190, 0);
  outline-color: rgb(204, 190, 0);
}

.btn-light:hover {
  border-color: yellowgreen !important;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

h1, h2 {
  font-family: 'Silkscreen', cursive;
  text-transform: uppercase;
}

.displayFont {
  font-family: 'Silkscreen', cursive;
  font-size: 100%;
  
}

#zeropadmargtopbot {
  margin: 0;
  padding: 0;
}

.loginForm {
  width: 25%;
  border: 1px solid green;
  margin: 20px;
  padding: 20px;
  background: black;
}

.loginLabel {
  font-size: 12px;
  border: 1px solid #fff;
  background: #fff;
}

input, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

textarea {
  max-height: 300px;
}

input:focus {
  border:1px solid #000000;
}

input[type="submit"] {
  margin-bottom: 0;
  background: yellowgreen;
  border: none;
}

input[type="submit"]:hover {
  border: 1.5px solid lightcyan;
  /*cursor: pointer;*/
}

/* Poner una imagen por encima de otra manualmente (raro)
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  /*border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 8%;
  left: 38.5%;
  height: 38.5%;
  /*border: 1px green solid;
} */

/* Centrar verticalmente manualmente
.Vcenter {
  margin: 0;
  position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  right: 0%;
}

.VcenterCont {
  position: relative;
}*/
