body {
  /*background-color: rgb(65, 0, 109); purple nice colour*/
  color: yellowgreen;
  /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, monospace; !important*/
  font-family: Lato, sans-serif, monospace;
}

.backgroundopacity {
  border: 0px solid rgba(25, 0, 99,0.5);
  text-align: left;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(204, 190, 0);
  font-size: 125%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.topWindow {
  background-image:;
  /*border: 2.5px solid rgba(25, 0, 99,0.5);*/
  border-top: 0%;
  border-left: 0%;
  border-right: 0%;
  border-bottom: 0.5px solid rgba(25, 0, 99,0.5);
  text-align: left;
  background: rgba(65, 0, 109,0.7);
  font-weight: bold;
  color: yellowgreen;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  padding-top: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
}

.bottomWindow {
  border: 2.5px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.enlace {
  display:inline;
  border:0;
  padding:5%;
  margin:0%;
  text-decoration:none;
  background:none;
  color:#000088;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height:1em;
}

.enlace:hover {
  text-decoration:none;
  color:#0000cc;
  cursor:pointer;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  /*border: 1px red solid;*/
}
.image2 {
  position: absolute;
  top: 8%;
  left: 38.5%;
  height: 38.5%;
  /*border: 1px green solid;*/
}

.Vcenter {
  margin: 0;
  position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  right: 0%;
}

.VcenterCont {
  position: relative;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.portada {
  width: 100%;
  align-self: center;
}

.perfil {
  width: 10%;
}

.center {
  text-align: center; width:50%;  display: inline-block;
}

.right {
  text-align: right; width:50%;  display: inline-block;
}

.left { 
  text-align: left; width:49%;  display: inline-block;
}

h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#displayFont {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}