  <!-- Last section/article: footer, usually contains contact information -->

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-dark text-light mt-5" style="margin-top: auto !important;">
    <!-- Section: Social media -->
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="border-top mt-5">
      <div class="container text-center text-md-start mt-1 pt-2">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="fas fa-gem me-3"></i>Facundo Sharry
        </h6>
        <p>
          populating the world since 2001~
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Products
        </h6>
        <p>
          <a href="#!" class="text-reset">Angular</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Bootstrap</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Springboot</a>
        </p>
        <p>
          <a href="#!" class="text-reset">mySQL</a>
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Useful links
        </h6>
        <p>
          <a href="#!" class="text-reset">GitHub</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Instagram</a>
        </p>
        <p>
          <a href="#!" class="text-reset">Linkedin</a>
        </p>
        <p>
          <a href="#!" class="text-reset">My University</a>
        </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
        <p><i class="fas fa-home me-3"></i> Cordoba, Argentina</p>
        <p>
          <i class="fas fa-envelope me-3"></i>
          facundo.sharry@gmail.com
        </p>
        <p><i class="fas fa-phone me-3"></i> +(54 <span class="text-muted">9</span>) 3547 563095</p>
        <p><i class="fas fa-print me-3"></i> -</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-2 border-top" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">Argentina Programa</a>
    </div>
    <!-- Copyright -->
  </footer>
    <!-- Footer -->
  <span id="idfooter"></span>