<!--6th Article(article 6): Proyectos -->
      <!-- TODO: proyectos en forma de cards con imagenes -->
      <article style="text-align: center;">

        <div style="display: inline-block; text-align: left;">
        <div class="row g-0">
        <div class="card text-center bg-dark" style="max-width:700px;">
        <div class="card-header displayFont pb-0 mb-100">
          <h3 class="pb-0 mb-0">Projects <button class="bi bi-pencil-square btn btn-dark"></button></h3>
        </div>
        <div class="card-body py-0">
          <p class="card-text">
          <ul type="circle" style="display: inline-block; text-align: left;">

          <li>Portfolio, Tech used: html, css (bootstrap), angular, javascript, java, heroku.
          <li>Animated gif of nyancat made in Assembly (aarch64 architecture with qemu for emulating a 640x480 display) 

          </ul>

        </div>
        </div>
        </div>
        </div>
      </article>