<app-header></app-header>
<!--Section WRAPPER: wraps main and sidebar-->
  <section class="wrapper">

    <!--Section MAIN: centered text is in here, except footer, header and sidebar(if i wanted to put one)-->
    <section class="main"> 

      <app-profile></app-profile>

      <app-info></app-info>

      <app-experience></app-experience>

      <app-education></app-education>

      <app-skills></app-skills>

      <app-projects></app-projects>

    </section>

    <aside></aside>
  </section>

  <app-footer></app-footer>