<app-header></app-header>
<section>
  <div class="container py-4">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div [formGroup]="form" class="card-body py-4 px-5 text-center">

            <div class="md-5 mt-md-4 pb-2">

              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-3">Please enter your user and password!</p>

              <div class="form-outline form-white mb-2">
              	<label class="form-label" for="typeEmailX">User</label>
                <input type="email" formControlName="email"
                [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
                 id="typeEmailX" class="form-control form-control-lg" />
                <div *ngIf="Email?.errors && Email?.touched">
                	<p *ngIf="Email?.hasError('required')" class="text-danger">
                		El email es requerido
                	</p>
                	<p *ngIf="Email?.hasError('email')" class="text-danger">
                		El formato del email debe ser valido.
                	</p>
                </div>
              </div>

              <div class="form-outline form-white mb-3">
              	<label class="form-label" for="typePasswordX">Password</label>
                <input type="password" formControlName="password"
                [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
                 id="typePasswordX" class="form-control form-control-lg" />
                <div *ngIf="Password?.errors && Password?.touched">
                	<p *ngIf="Password?.hasError('required')" class="text-danger">
                		La contraseña es requerida
                	</p>
                	<p *ngIf="Password?.errors?.['minlength']" class="text-danger">
                		La contraseña debe ser de 5 o mas caracteres.
                	</p>
                </div>
              </div>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
