<!--1st article(article 1): Foto de Perfil + Titulo(nombre)-->
      <article class="mb-4 mt-4" style="text-align: center; margin-top: 20px;">
        
        <div style="display: inline-block; text-align: left;">
        <div class="card bg-dark mb-3" style="max-width: 700px;">
          <div class="row g-0">
          <div class="col-md-4">
            <img [src]="persona.img_src" class="img-fluid rounded-start" alt="Foto de Perfil">
          </div>
          <div class="col-md-8">
            <div class="card-body">
             <h2 class="card-title" style="display: inline-block;"> {{persona.name}} </h2>

             <div class="btn-edit" style="display: inline-block;">
              <button class="bi bi-pencil-square btn btn-dark btn-right mb-2"></button>
             </div>

              <p class="card-text">
                <ul type="circle" style="display: inline-block; text-align: left;">
          <li> {{persona.position}}
          <li> {{persona.position2}}
          <li> {{persona.pfrom}}
          <li> <a class="link-danger" style="text-decoration: none;" href="#idfooter"> Contactame </a>
        </ul> <!-- target="_blank" hace que la pagina se abra en otra pestaña-->

              <p class="card-text"><small class="text-muted"></small></p>
            </div>
          </div>
          </div>
        </div>
        </div>
      </article>
