<!--4th Article(article 4): Formación -->
      <article class="mb-4 mt-4" style="text-align: center">
        <div style="display: inline-block; text-align: left;">
        <div class="row g-0">
        <div class="card text-center bg-dark" style="max-width:700px;">
        <div class="card-header displayFont pb-0">
          <h3 class="pb-0 mb-0">Formacion <button class="bi bi-pencil-square btn btn-dark"></button></h3>
        </div>
        <div class="card-body py-0">
          <p class="card-text">
          <ul type="circle" style="display: inline-block; text-align: left;">

            <li><strong>Titulo Secundario:</strong> Bachiller especializado en Ciencias Sociales Otorgado por Ipem Independencia 97 en el 2020

            <!--TODO: Barra de progreso en 35%, indicando 8 materias de 27-->
            <li><strong>Terciario/Universitario:</strong> Estudiante de 2do año de la carrera de Lic. en Ciencias de la Computación, FAMAF, UNC. (Progreso 30%, Materias 8/27, Promedio: 8.46)
              
            <li><strong>Curso Fullstack Developer (Bootstrap, Angular, Springboot):</strong> Argentina Programa
          
          </ul>

        </div>
        </div>
        </div>
        </div>
      </article>