<!--5th Article(article 5): Hard and soft skills -->
      <!-- TODO: progress bars -->
      <article class="mb-4 mt-4" style="text-align: center">
        <div style="display: inline-block; text-align: left;">
        <div class="row g-0">
        <div class="card text-center bg-dark" style="max-width:700px;">
        <div class="card-header displayFont pb-0">
          <h3 class="pb-0 mb-0" id="title3">Hard and soft skills <button id="btn-edit3" class="bi bi-pencil-square btn btn-dark"></button></h3>
        </div>
        <div class="card-body pt-0">
          <p class="card-text">
            <div class="col-sm" id="hard_and_soft_skills"> 
                      <div class="row align-items-center">
                        <div class="col-sm" *ngFor="let sk of skillsList">{{sk.name}}</div>
                      </div>
            </div>
          <div class="col-sm"></div>

        </div>
        </div>
        </div>
        </div>
      </article>