<!--3rd Article(article 3): Experiencia-->
      <article class="mb-4 mt-4" style="text-align: center">
        <div style="display: inline-block; text-align: left;">
        <div class="row g-0">
        <div class="card text-center bg-dark" style="max-width:700px;">
          <div class="card-header displayFont pb-0">
            <h3 class="pb-0 mb-0">Experiencia Laboral <button class="bi bi-pencil-square btn btn-dark"></button></h3>
          </div>
          <div class="card-body py-0">
            <p class="card-text">
            <ul type="none" style="display: inline-block; text-align: left;">

              <li *ngFor="let exp of experiences" >
              <div style="font-size: 20px; text-align:center;"><strong> Armado y reparación de pc </strong> </div>
              <strong>Tareas realizadas:</strong> {{exp.descripcion}}
              <div><strong>Referencia:</strong> {{exp.referencia}}</div>
              <div style="opacity: 80%; text-align: center;">[{{exp.inicio}}-{{exp.fin}}]</div>
            </ul>

          </div>
        </div>
        </div>
        </div>
        </article>